<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list__item"><a href="/admin" class="nav__link">Admin</a></li>
        <li class="nav__list__item"><a href="/scoreboard" class="nav__link">Scoreboard</a></li>
      </ul>
    </nav>

      <div class="page">

        <h1><%= title %></h1>

        <ng-view></ng-view>

        <!-- Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

        <!-- Socket.io -->
        <script type="text/javascript" src="http://vexxhost.com/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="http://vexxhost.com/lib/angular-socket-io/socket.min.js"></script>

        <!-- Templates -->
        <script type="text/ng-template" id="/games.html">

          <div class="content__wrapper">

          <div class="form">

            <div class="form__search">
              <label for="search" class="input__label">Search</label>
              <input type="text" ng-model="search.name" id="search" class="input__text">
            </div>

            <ul>
              <li ng-repeat="game in games | filter: search">

                <blockquote>

                  <a ng-show="!editing[$index]" href="#/{{game._id}}">{{game.name}}</a>
                  <button ng-show="!editing[$index]" ng-click="edit($index)" class="btn btn__primary">Edit</button>

                  <input ng-show="editing[$index]" type="text" ng-model="game.name" class="input__text">
                  <button ng-show="editing[$index]" ng-click="update($index)" class="btn btn__success">Update</button>
                  <button ng-show="editing[$index]" ng-click="cancel($index)" class="btn btn__warning">Cancel</button>
                  <button ng-show="!editing[$index]" ng-click="remove($index)" class="btn btn__danger">Remove</button>

                </blockquote>

              </li>
            </ul>

          </div>


          <div class="form">

            <p class="form__title">New game</p>

            <div class="form__group">
              <label for="gameName" class="input__label">Game name</label>
              <input type="text" ng-model="gameName" id="gameName" class="input__text">
            </div>

            <div class="form__group">
              <label for="teamA" class="input__label">Team A</label>
              <input type="text" ng-model="teamA" id="teamA" class="input__text">
            </div>

            <div class="form__group">
              <label for="teamB" class="input__label">Team B</label>
              <input type="text" ng-model="teamB" id="teamB" class="input__text">
            </div>

            <button ng-click="save()" class="btn btn__primary">Create</button>

          </div>

      </div>

      </script>

      <script type="text/ng-template" id="/gameDetails.html">

        <div class="page">

          <h2 class="">{{game.name}}</h2>

          <div class="content__wrapper">

            <div class="container">

              <p class="form__title"><img src="images/{{game.teamA}}.png" class="flag__mini">{{game.teamA}}</p>

              <div class="form__group">

                <label for="gameName" class="input__label">Goals</label>
                <button ng-click="scoreAmin()" class="btn btn__danger btn__small">-</button>
                <p class="game__info__counter">{{game.scoreA}}</p>
                <button ng-click="scoreAplus()" class="btn btn__success btn__small">+</button>

              </div>

              <div class="form__group">

                <label class="input__label">Shots</label>
                <button ng-click="shotsAmin()" class="btn btn__danger btn__small">-</button>
                <p class="game__info__counter">{{game.shotsA}}</p>
                <button ng-click="shotsAplus()" class="btn btn__success btn__small">+</button>

              </div>

              <div class="form__group">

                <label class="input__label">Fauls</label>
                <button ng-click="faulsAmin()" class="btn btn__danger btn__small">-</button>
                <p class="game__info__counter">{{game.faulsA}}</p>
                <button ng-click="faulsAplus()" class="btn btn__success btn__small">+</button>

              </div>

            </div>

            <div class="container">

              <p class="form__title"><img src="images/{{game.teamB}}.png" class="flag__mini">{{game.teamB}}</p>

              <div class="form__group">

                <label for="gameName" class="input__label">Goals</label>
                <button ng-click="scoreBmin()" class="btn btn__danger btn__small">-</button>
                <p class="game__info__counter">{{game.scoreB}}</p>
                <button ng-click="scoreBplus()" class="btn btn__success btn__small">+</button>

              </div>

              <div class="form__group">

                <label class="input__label">Shots</label>
                <button ng-click="shotsBmin()" class="btn btn__danger btn__small">-</button>
                <p class="game__info__counter">{{game.shotsB}}</p>
                <button ng-click="shotsBplus()" class="btn btn__success btn__small">+</button>

              </div>

              <div class="form__group">

                <label class="input__label">Fauls</label>
                <button ng-click="faulsBmin()" class="btn btn__danger btn__small">-</button>
                <p class="game__info__counter">{{game.faulsB}}</p>
                <button ng-click="faulsBplus()" class="btn btn__success btn__small">+</button>

              </div>

            </div>

            <div class="container container__comments">

              <div class="form__group">

                <label class="input__label">Comments</label>
                <ul class="comments__list">
                  <li ng-repeat=" comment in game.comments">
                    <blockquote>
                      <p>{{comment.value}}</p>
                    </blockquote>
                  </li>
                </ul>

              </div>

              <div class="form__group">

                <input type="text" id="commentValue" class="input__text" ng-model="commentValue" ng-keyup="$event.keyCode == 13 && sendComment()">
                <button ng-click="sendComment()" class="btn btn__primary">Send</button>

              </div>

            </div>

          </div>

        </div>

      </script>

    <script>

      angular.module('app', ['ngRoute', 'ngResource'])

        //---------------
        // Services
        //---------------

        .factory('Games', ['$resource', function($resource){
          return $resource('/games/:id', null, {
            'update': { method:'PUT' }
          });
        }])

        //---------------
        // Controllers
        //---------------

        //.controller('GameController', ['$scope', 'Games', 'Socket', function ($scope, Games, Socket) {
        .controller('GameController', ['$scope', 'Games', function ($scope, Games) {
          $scope.editing = [];
          $scope.games = Games.query();

          $scope.save = function(){
            if(!$scope.gameName || $scope.gameName.length < 1) return;
            var game = new Games({
                                    name: $scope.gameName,
                                    teamA: $scope.teamA,
                                    teamB: $scope.teamB,
                                    scoreA: 0,
                                    scoreB: 0,
                                    shotsA: 0,
                                    shotsB: 0,
                                    faulsA: 0,
                                    faulsB: 0
                                  });

            game.$save(function(){
              $scope.games.push(game);
              $scope.gameName = ''; // clear textbox
            });
          }

          $scope.update = function(index){
            var game = $scope.games[index];
            Games.update({id: game._id}, game);
            $scope.editing[index] = false;
          }

          $scope.edit = function(index){
            $scope.editing[index] = angular.copy($scope.games[index]);
          }

          $scope.cancel = function(index){
            $scope.games[index] = angular.copy($scope.editing[index]);
            $scope.editing[index] = false;
          }

          $scope.remove = function(index){
            var games = $scope.games[index];
            Games.remove({id: game._id}, function(){
              $scope.games.splice(index, 1);
            });
          }

          // SOCKETS ////////////////////////
          /*
          Socket.on('game.created', function(index) {
            var game = $scope.games[index];
            console.log(article);
          });
          */
          ///////////////////////////////////

        }])

        .controller('GameDetailCtrl', ['$scope', '$routeParams', 'Games', '$location', function ($scope, $routeParams, Games, $location) {
          $scope.game = Games.get({id: $routeParams.id });


          // SCORE /////////////////////////
          $scope.scoreAplus = function(){
            $scope.game.scoreA ++;
            $scope.update();
          }

          $scope.scoreAmin = function(){
            $scope.game.scoreA --;
            $scope.update();
          }

          $scope.scoreBplus = function(){
            $scope.game.scoreB ++;
            $scope.update();
          }

          $scope.scoreBmin = function(){
            $scope.game.scoreB --;
            $scope.update();
          }
          ///////////////////////////////////

          // SHOTS //////////////////////////
          $scope.shotsAplus = function(){
            $scope.game.shotsA ++;
            $scope.update();
          }

          $scope.shotsAmin = function(){
            $scope.game.shotsA --;
            $scope.update();
          }

          $scope.shotsBplus = function(){
            $scope.game.shotsB ++;
            $scope.update();
          }

          $scope.shotsBmin = function(){
            $scope.game.shotsB --;
            $scope.update();
          }
          ///////////////////////////////////

          // FAULS //////////////////////////
          $scope.faulsAplus = function(){
            $scope.game.faulsA ++;
            $scope.update();
          }

          $scope.faulsAmin = function(){
            $scope.game.faulsA --;
            $scope.update();
          }

          $scope.faulsBplus = function(){
            $scope.game.faulsB ++;
            $scope.update();
          }

          $scope.faulsBmin = function(){
            $scope.game.faulsB --;
            $scope.update();
          }
          ///////////////////////////////////


          // COMMENTS ///////////////////////
          $scope.sendComment = function(){
            var i = {};
            i.value =  $scope.commentValue;
            $scope.game.comments.push(i);
            $scope.commentValue = ''; // clear textbox
            $scope.update();
          }
          ///////////////////////////////////

          // UPDATE /////////////////////////
          $scope.update = function(){
            var game = $scope.game;
            Games.update({id: $routeParams.id }, game);
          }
          ///////////////////////////////////

          // REMOVE /////////////////////////
          $scope.remove = function(){
            Games.remove({id: $scope.game._id}, function(){
              $location.url('/');
            });
          }
          ///////////////////////////////////

        }])

        //---------------
        // Routes
        //---------------

        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider
            .when('/', {
              templateUrl: '/games.html',
              controller: 'GameController'
            })

            .when('/:id', {
              templateUrl: '/gameDetails.html',
              controller: 'GameDetailCtrl'
           });
        }]);
    </script>

    <script src="scripts/main.js"></script>

  </body>
</html>
