<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/css/style.css' />

  </head>
  <body>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list__item"><a href="/admin" class="nav__link">Admin</a></li>
        <li class="nav__list__item"><a href="/scoreboard" class="nav__link">Scoreboard</a></li>
      </ul>
    </nav>

      <div class="page">

        <h1><%= title %></h1>

        <ng-view></ng-view>

        <!-- Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

        <!-- Socket.io -->
        <script type="text/javascript" src="http://vexxhost.com/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="http://vexxhost.com/lib/angular-socket-io/socket.min.js"></script>

        <!-- Templates -->
        <script type="text/ng-template" id="/games.html">

          <div class="content__wrapper">

          <div class="form">

            <div class="form__search">
              <label for="search" class="input__label">Search</label>
              <input type="text" ng-model="search.name" id="search" class="input__text">
            </div>

            <ul>
              <li ng-repeat="game in games | filter: search">

                <blockquote>

                  <a ng-show="!editing[$index]" href="#/{{game._id}}">{{game.name}}</a>

                </blockquote>

              </li>
            </ul>

          </div>

      </div>

      </script>

      <script type="text/ng-template" id="/gameDetails.html">

        <div class="page">

          <h2 class="">{{game.name}}</h2>

          <div class="content__wrapper">

            <div class="container">

              <p class="form__title">{{game.teamA}}</p>

              <div class="form__group">

                <label for="gameName" class="input__label">Goals</label>
                <p class="game__info__counter">{{game.scoreA}}</p>

              </div>

              <div class="form__group">

                <label class="input__label">Shots</label>
                <p class="game__info__counter">{{game.shotsA}}</p>

              </div>

              <div class="form__group">

                <label class="input__label">Fauls</label>
                <p class="game__info__counter">{{game.faulsA}}</p>

              </div>

            </div>

            <div class="container">

              <p class="form__title">{{game.teamB}}</p>

              <div class="form__group">

                <label for="gameName" class="input__label">Goals</label>
                <p class="game__info__counter">{{game.scoreB}}</p>

              </div>

              <div class="form__group">

                <label class="input__label">Shots</label>
                <p class="game__info__counter">{{game.shotsB}}</p>

              </div>

              <div class="form__group">

                <label class="input__label">Fauls</label>
                <p class="game__info__counter">{{game.faulsB}}</p>

              </div>

            </div>

            <div class="container container__comments">

              <div class="form__group">

                <label class="input__label">Comments</label>
                <ul class="comments__list">
                  <li ng-repeat=" comment in game.comments">
                    <blockquote>
                      <p>{{comment.value}}</p>
                    </blockquote>
                  </li>
                </ul>

              </div>

            </div>

          </div>

        </div>

      </script>

    <script>

      angular.module('app', ['ngRoute', 'ngResource'])

        //---------------
        // Services
        //---------------

        .factory('Games', ['$resource', function($resource){
          return $resource('/games/:id', null, {
            'update': { method:'PUT' }
          });
        }])

        //---------------
        // Controllers
        //---------------

        //.controller('GameController', ['$scope', 'Games', 'Socket', function ($scope, Games, Socket) {
        .controller('GameController', ['$scope', 'Games', function ($scope, Games) {
          $scope.editing = [];
          $scope.games = Games.query();

        }])

        .controller('GameDetailCtrl', ['$scope', '$routeParams', 'Games', '$location', function ($scope, $routeParams, Games, $location) {
          $scope.game = Games.get({id: $routeParams.id });

        }])

        //---------------
        // Routes
        //---------------

        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider
            .when('/', {
              templateUrl: '/games.html',
              controller: 'GameController'
            })

            .when('/:id', {
              templateUrl: '/gameDetails.html',
              controller: 'GameDetailCtrl'
           });
        }]);
    </script>

    <script src="scripts/main.js"></script>

  </body>
</html>
