body{
  padding: 50px;
}

.clearFix{
  clear: both;
}

.mainWrapper{

  display: block;
  max-width: 900px;
  margin: 0 auto;

}

.scoreWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  border-bottom: 1px solid #333

}

.detailMainWrapper{
  padding: 50px;
  border-bottom: 1px solid #333
}

.detailWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px;

}

.scoreTitle{
  font-size: 30px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

.inline{
  display: inline-block;
  padding: 10px;
}

.teamInfo{
  display: block;
  width: 400px;
  float: left;
}

#comments-list{
  max-height: 200px;
  overflow-y: scroll;
}
